<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Scheduling Tasks results</title>

    <style>
        .container {
            width: 80%;
            margin: auto;
        }
        .table {
            width: 80%;
            border-collapse: collapse;
            margin: 25px auto;
        }
        .table td, .table th {
            margin: 0px;
            padding: 5px;
            border: 1px solid black;
            text-align: center;
        }
        th.header {
            font-size: 18px;
            padding: 15px;
            text-align: left;
        }

        td.footer-title {
            font-weight: bold;
            text-align: right;
        }

        .page-header {
            text-align: center;
            font-size: 20px;
            font-weight: bold;
            margin: 15px;
        }

        .page-header small {
            display: block;
            font-size: 15px;
            font-weight: normal;
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="page-header">Praktyka i teoria szeregowania zadań <small>Dawid Zaroda (129031), Michał Śramski (129023)</small></div>
        {{content}}
    </div>
</body>
</html>