<tr>
    <td>{{instanceNum}}</td>
    <td>{{startTime}}</td>
    <td>{{processingTime}}</td>
    <td>{{penaltiesSum}}</td>
    <td>{{optimalPenaltiesSum}}</td>
    <td>{{approximateError}} %</td>
</tr>