<table class="table">
    <thead>
    <tr>
        <th colspan="6" class="header">
            {{fileName}}, m={{jobsCount}}, h={{hCoefficient}}
        </th>
    </tr>
    <tr>
        <th>k</th>
        <th>r</th>
        <th>t (ms)</th>
        <th>F<sub>alg</sub></th>
        <th>F<sub>ub</sub></th>
        <th>błąd %</th>
    </tr>
    </thead>
    <tbody>
        {{rows}}
    </tbody>
    <tfoot>
    <tr>
        <td colspan="5" class="footer-title">Średni błąd i odchylenie standardowe:</td>
        <td>{{avgError}} %, {{standardDeviation}}</td>
    </tr>
    </tfoot>
</table>